/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 14, 2016, 1:31:51 PM
    Author     : Tatiana
*/


 
.iconsmall{
    width:150px; 
    height:150px;
    margin: 0 auto 0 auto;
    display: block;
}
.icomedia{
    width: 100%;
    height: 50%;
    display: block;
}
.bgsection{
    
    padding-top: 10px;
    background:linear-gradient(0deg,#FBFBFB,#fff);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
    margin-left: 0px;  
}
.bgsection:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.containersection{
   padding: 40px 40px;
   width: 100%;
}


.containersection {
   padding:40px 40px;
   width: 100%;
   font-family:Palatino Linotype;
}

@media screen and (max-width: 1800px) and (min-width: 1200px){
    .containersection{
        font-size: 16px;
    }
}
@media screen and (max-width: 767px) {
    .containersection{
        font-size: 14px;
    }
}
@media screen and (max-width: 991px)and (min-width: 768px) {
    .containersection{
        font-size: 16px;
    }
}
@media screen and (max-width: 1199px)and (min-width: 992px) {
    .containersection{
        font-size: 18px;
    }
}

.containerdescripcion{
     margin-top: 60px;
     margin-left: 0px;
     margin-right: 0px;
}







