/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 16, 2016, 5:46:25 PM
    Author     : Tatiana
*/
.container-principal{
    padding-right: 40px;
}
@media screen and (max-width:767px) {
    .col-sm-4 {
        text-align: justify;
        margin: 10px 0;
    }
    .containersection{
        font-size: 14px;
    }
    .container-fluid {
        width: 100%;
    }
    .containerpanel{
        padding: 60px 0px 40px 0px;
        top:29px;
        width: 100%;
    }
    .container-principal{
        padding-top: 80px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .containersection{
        font-size: 16px;
    }
    .container-fluid {
        width: 100%;
    }
    .containerpanel{
        padding: 60px 40px;
        top:29px;
        width: 100%;
    }
    .container-principal{
        padding-top: 80px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
    .containersection{
        font-size: 18px;
    }
    .container-fluid {
        width: 100%;
    }
    .containerpanel{
        padding: 60px 40px;
        top:29px;
        width: 100%;
    }
    .container-principal{
        padding-top: 60px;
    }
    
}

@media screen and (min-width: 1400px){
    .containersection{
        font-size: 16px;
    }
    .container-fluid {
        width: 90%;
        margin: auto;
    }
    .containerpanel{
        width: 100%;
    }
    .container-principal{
        padding-top: 80px;
    }
}
.bg-1 {
    background-color:#f2f2f2; /* Green */
    color: #ffffff;
}

.carousel-inner img {
      width: 100%; /* Set width to 100% */
      min-height: 200px;
    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none; 
      }
    }




